@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  font-family: "Righteous", cursive;
  line-height: 1.7;
  font-size: 16px;
  text-align: center;
  width: 100%;

}

.space-text {
  font-family: "Righteous", cursive;
  color: gold;
}

.space-text-white {
  font-family: "Righteous", cursive;
  color: #efefef;
}

.navbar {
  display: flex;
  border: none;
}

.link {
  display: inline-block;
  padding: 3px 20px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  transform: scale(1.1);
}

.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
}

.nasa-photo img {
  width: 50%;
  margin-right: 50px;
  border-radius: 15px;
  max-height: 80vh;
}

.nasa-photo h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .explanation {
  color: #bbb;
}

@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.footer {
  height: 100px;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

 
}

#root {
  background-color: #000023;
  width: 100%;
  height: 100%;
 
}

.body {
  background-color: #000023;
}

.white-text {
  color: #bbb;
}

.fact {
  margin-bottom: 4%;
}

.glow-on-hover {
  width: 160px;
  height: 50px;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.space-facts {
  margin-bottom: 5%;
  font-family: "Righteous", cursive;
  color: #efefef;
}

.front-text {
  margin-bottom: 25%;
}




html, body, #app, #app>div {
  height: 100%
}

#root {
  display: flex;
  flex-direction: column;
 }

